---
import RecentList from "./RecentList.astro";
import { getRecent } from "../lib/site";

const recent = (await getRecent()).slice(0, 12);
const tripSlug = (date: string, title: string) =>
  `${date} ${title}`
    .toLowerCase()
    .replace(/[^a-z0-9]+/g, "-")
    .replace(/^-|-$/g, "");

const races = [
  {
    title: "Canyons 100K",
    href: "https://live.utmb.world/canyons/2026/runners/1775",
    detail: "Auburn, CA - 100K",
    result: "2026 - 15:46:47",
    rank: "OA 256/539 / AG 79/118 20-34M",
  },
  {
    title: "IRONMAN 70.3 Santa Cruz Relay",
    href: "https://www.ironman.com/races/im703-santa-cruz",
    detail: "Santa Cruz, CA - Relay - Bib 4073, T. M. Men",
    result: "2025 - 4:23:37",
    rank: "Team 2/50 / Run 1:28:40",
  },
  {
    title: "Tamalpa Headlands 50K",
    href: "https://statistik.d-u-v.org/getresultevent.php?event=112347",
    detail: "Muir Beach, CA - 50K",
    result: "2025 - 5:25:47",
    rank: "OA 72/251 / AG 26/58 M23",
  },
  {
    title: "Broken Arrow Skyrace",
    href: "https://www.berglaufpur.de/berglauf/documents/BrokenArrowSkyrace23Km.pdf",
    detail: "Olympic Valley, CA - 23K",
    result: "2025 - 3:07:52",
    rank: "OA 190/603 / AG 26/44 M20-29",
  },
  {
    title: "IRONMAN 70.3 St. George",
    href: "https://sportstats.one/event/ironman-703-st-george/leaderboard/143338",
    detail: "St. George, UT - 70.3",
    result: "2025 - 4:55:08",
    rank: "OA 205/2093 / AG 30/211 M25-29",
  },
  {
    title: "IRONMAN 70.3 World Championship",
    href: "https://www.btu-info.de/images/stories/2024/Ergebnisse/Ergebnis_2024_12_14_Taupo_703_WC_Ironman_M%C3%A4nner.pdf",
    detail: "Taupo, New Zealand - 70.3",
    result: "2024 - 4:56:13",
    rank: "OA 1415/3083 / AG 87/128 M18-24",
  },
  {
    title: "Golden Gate Trail Classic",
    href: "https://www.spartan.com/en/race/past-results/8233",
    detail: "San Francisco, CA - 50K",
    result: "2024 - 5:21:04",
    rank: "OA 24/304 / AG 10/63 M20-29",
  },
  {
    title: "IRONMAN 70.3 Santa Cruz",
    href: "https://sportstats.one/event/ironman-703-santa-cruz/tracker?pid=140177:1812",
    detail: "Santa Cruz, CA - 70.3",
    result: "2024 - 4:45:04",
    rank: "OA 108/2166 / AG 9/114 M18-24",
  },
  {
    title: "Hood to Coast",
    href: "https://eclecticedgeracing.overallraceresults.com/individual-results/888/559016",
    detail: "Oregon - Relay - Run for Days, Mixed Open",
    result: "2024 - 24:25:55.2",
    rank: "OA 74/1183 / Div 16/296",
  },
  {
    title: "Twilight 5000",
    href: "https://diablotiming.com/results/2024-07-17/results_39.html",
    detail: "San Francisco, CA - 5K",
    result: "2024 - 18:20.22",
    rank: "OA 120/292",
  },
  {
    title: "Broken Arrow Skyrace",
    href: "https://my.raceresult.com/290460/results/pdf?name=Online%20Results%7C18K%20Results&contest=3&lang=en",
    detail: "Olympic Valley, CA - 18K",
    result: "2024 - 2:39:17",
    rank: "OA 68/375 / AG 14/34 M20-29",
  },
  {
    title: "Escape from Alcatraz Triathlon",
    href: "https://www.escapealcatraztri.com/results/2024",
    detail: "San Francisco, CA - Triathlon",
    result: "2024 - 2:29:38",
    rank: "OA 65/1628 / AG 10/47 M20-24",
  },
  {
    title: "IRONMAN 70.3 Morro Bay",
    href: "https://sportstats.one/event/ironman-703-morro-bay/tracker?pid=140134:669",
    detail: "Morro Bay, CA - 70.3",
    result: "2024 - 5:08:46",
    rank: "OA 115/1107 / AG 12/97 M18-24",
  },
  {
    title: "Napa Valley Marathon",
    href: "https://results.svetiming.com/Napa-Valley-Marathon/events/2024/kaiser-permanente-napa-valley-marathon/1682/entrant",
    detail: "Napa, CA - Marathon",
    result: "2024 - 3:26:38",
    rank: "OA 219/1699 / AG 16/52 M21-24",
  },
  {
    title: "Santa Cruz Triathlon",
    href: "https://results.svetiming.com/Santa-Cruz-Triathlon/events/2023/Santa-Cruz-Triathlon/results",
    detail: "Santa Cruz, CA - Olympic",
    result: "2023 - 2:34:21",
    rank: "OA 68/623 / AG 5/18 M20-24",
  },
];

const travel = [
  {
    title: "Truckee and Auburn",
    detail: "Truckee, Dollar Creek, Donner Pass, Colfax, and Auburn",
    date: "Apr 2026",
  },
  {
    title: "Sedona",
    detail: "Phoenix flight and Sedona trails",
    date: "Mar 2026",
  },
  {
    title: "Lake Almanor",
    detail: "San Francisco out and back",
    date: "Mar 2026",
  },
  {
    title: "Tahoe",
    detail: "Truckee and Palisades ski weekend",
    date: "Feb 2026",
  },
  {
    title: "Costa Mesa",
    detail: "Orange County out and back",
    date: "Jan 2026",
  },
  {
    title: "Maui",
    detail: "Kapalua and Haleakala",
    date: "Dec 2025",
  },
  {
    title: "Paso Robles and Los Osos",
    detail: "Paso Robles, Montana de Oro, and Cayucos",
    date: "Nov 2025",
  },
  {
    title: "Broomfield",
    detail: "Denver flight and Broomfield",
    date: "Nov 2025",
  },
  {
    title: "Eastern Sierra and Utah",
    detail: "Mammoth, Death Valley, Vegas, Escalante, and big trails",
    date: "Oct 2025",
  },
  {
    title: "Arnold",
    detail: "Mountain biking weekend",
    date: "Sep 2025",
  },
  {
    title: "Santa Cruz",
    detail: "70.3 relay weekend",
    date: "Sep 2025",
  },
  {
    title: "Mammoth",
    detail: "Sonora Pass, Reds Meadow, hot springs, June Lake, and Tioga Pass",
    date: "Aug 2025",
  },
  {
    title: "Yosemite",
    detail: "Pine Mountain Lake and Tuolumne Meadows",
    date: "Jul 2025",
  },
  {
    title: "Lake Como",
    detail: "Rome, Milan, Lake Como towns, boats, and train",
    date: "Jul 2025",
  },
  {
    title: "Tahoe",
    detail: "Dollar Point and Broken Arrow",
    date: "Jun 2025",
  },
  {
    title: "Kauai",
    detail: "Oahu, Poipu, Koke'e, Waimea, Lihue, and Haena",
    date: "Jun 2025",
  },
  {
    title: "Santa Rosa",
    detail: "Sonoma and Santa Rosa",
    date: "May 2025",
  },
  {
    title: "Utah and Zion",
    detail: "Mammoth, St. George 70.3, Zion, Sphere, and EDC",
    date: "May 2025",
  },
  {
    title: "Humboldt and the Redwoods",
    detail: "Humboldt, Arcata, Prairie Creek, and Trinidad",
    date: "Apr 2025",
  },
  {
    title: "Bear Valley",
    detail: "Skiing",
    date: "Mar 2025",
  },
  {
    title: "Death Valley",
    detail: "Eureka Dunes via Highway 88",
    date: "Mar 2025",
  },
  {
    title: "Big Sur",
    detail: "Sykes Hot Springs trailhead",
    date: "Mar 2025",
  },
  {
    title: "Scottsdale",
    detail: "SFO out and back",
    date: "Jan 2025",
  },
  {
    title: "New Zealand",
    detail: "Auckland, Taupo, Queenstown, Milford, and Rees-Dart",
    date: "Dec 2024",
  },
  {
    title: "Yosemite",
    detail: "San Francisco out and back",
    date: "Nov 2024",
  },
  {
    title: "Mendocino",
    detail: "San Francisco out and back",
    date: "Sep 2024",
  },
  {
    title: "Santa Cruz",
    detail: "70.3 weekend",
    date: "Sep 2024",
  },
  {
    title: "Oregon",
    detail: "Hood to Coast via Mount Hood and Seaside",
    date: "Aug 2024",
  },
  {
    title: "Tahoe",
    detail: "Prosser Creek, Tahoe City, and Palisades",
    date: "Jun 2024",
  },
  {
    title: "Morro Bay",
    detail: "Race weekend",
    date: "May 2024",
  },
  {
    title: "Occidental",
    detail: "Training weekend",
    date: "Mar 2024",
  },
  {
    title: "Mexico City",
    detail: "Mexico City and Teotihuacan",
    date: "Feb 2024",
  },
  {
    title: "Joshua Tree",
    detail: "Jumbo Rocks campground",
    date: "Jan 2024",
  },
  {
    title: "San Luis Obispo",
    detail: "Shell Creek super bloom",
    date: "Apr 2023",
  },
  {
    title: "San Luis Obispo and San Simeon",
    detail: "SLO, Yosemite, and San Simeon",
    date: "Feb 2023",
  },
  {
    title: "Yosemite",
    detail: "Winter hiking via SLO",
    date: "Feb 2023",
  },
  {
    title: "Seattle",
    detail: "Seattle and Snoqualmie Pass",
    date: "Jan 2023",
  },
  {
    title: "Portland and Bend",
    detail: "Portland, Bend, and New Year's",
    date: "Dec 2022",
  },
  {
    title: "Yosemite",
    detail: "Santa Clara out and back",
    date: "Oct 2022",
  },
  {
    title: "Orlando",
    detail: "SFO out and back",
    date: "Sep 2022",
  },
  {
    title: "Sequoia and Kings Canyon",
    detail: "Three Rivers, big trees, and Mineral King",
    date: "Aug 2022",
  },
  {
    title: "Graduation Road Trip",
    detail: "Southwest, Rockies, PNW, and Decatur Island",
    date: "Jul 2022",
  },
  {
    title: "Reno",
    detail: "SLO out and back",
    date: "Jun 2022",
  },
  {
    title: "Yosemite",
    detail: "North Dome backpacking",
    date: "May 2022",
  },
  {
    title: "Northern California and Oregon",
    detail: "Redwoods, Portland, Mount Hood, Crater Lake",
    date: "Mar 2022",
  },
  {
    title: "Mount Pinos",
    detail: "Backpacking",
    date: "Feb 2022",
  },
  {
    title: "Big Sur: Ventana Wilderness",
    detail: "Ventana Wilderness backpacking",
    date: "Jan 2022",
  },
  {
    title: "Big Sur: Pfeiffer Ridge",
    detail: "Pfeiffer Ridge Road backpacking",
    date: "Jan 2022",
  },
  {
    title: "Santa Barbara",
    detail: "Water tower camp, hot springs, and downtown Santa Barbara",
    date: "Oct 2021",
  },
  {
    title: "Croatia, Andorra, Amsterdam",
    detail: "Croatia road trip, sailing, Plitvice, and Amsterdam",
    date: "Sep 2021",
  },
  {
    title: "Pinnacles",
    detail: "Santa Clara out and back",
    date: "Jun 2021",
  },
  {
    title: "Las Vegas",
    detail: "SLO out and back",
    date: "May 2021",
  },
  {
    title: "Joshua Tree",
    detail: "Jumbo Rocks campground",
    date: "May 2021",
  },
  {
    title: "Big Sur",
    detail: "Silver Peak Wilderness backpacking",
    date: "May 2021",
  },
  {
    title: "Arches and Canyonlands",
    detail: "Moab from Santa Clara",
    date: "Sep 2020",
  },
  {
    title: "Washington to California Coast",
    detail: "SLO to Seattle, then coastal surf road trip back to SLO",
    date: "Aug 2020",
  },
  {
    title: "Reno",
    detail: "Visit",
    date: "Jul 2020",
  },
  {
    title: "Eastern Sierra",
    detail: "Sonora Pass, hot springs, Mammoth, Mono Lake, and bristlecones",
    date: "Aug 2020",
  },
  {
    title: "Eastern Sierra",
    detail: "Sonora Pass, Mono Lake, and bristlecones",
    date: "Jun 2020",
  },
  {
    title: "Lebec",
    detail: "SLO out and back",
    date: "Feb 2020",
  },
  {
    title: "Lake Arrowhead",
    detail: "SLO, Beverly Hills, Lake Arrowhead, and San Bernardino",
    date: "Aug 2019",
  },
  {
    title: "San Diego",
    detail: "SFO out and back",
    date: "Dec 2019",
  },
  {
    title: "Tuscany and Italy",
    detail: "Florence, Tuscany, Rome, and Venice",
    date: "Jul 2018",
  },
  {
    title: "Portland and Mount Hood",
    detail: "Portland and Mount Hood",
    date: "Mar 2018",
  },
  {
    title: "Israel",
    detail: "Jerusalem, Dead Sea, Safed, Haifa, Achziv, and Tel Aviv",
    date: "Feb 2017",
  },
  {
    title: "Coachella",
    detail: "California desert out and back",
    date: "Apr 2017",
  },
  {
    title: "South Lake Tahoe",
    detail: "Bay Area out and back",
    date: "Dec 2016",
  },
  {
    title: "Boston and New York",
    detail: "Boston, train to New York, and flight home",
    date: "Nov 2016",
  },
  {
    title: "Alaska",
    detail: "Anchorage, Matanuska, Denali, and Kenai Fjords",
    date: "Jul 2016",
  },
  {
    title: "Boston and Cape Cod",
    detail: "Boston, Cape Cod, and flight home",
    date: "Aug 2015",
  },
  {
    title: "Iceland Ring Road",
    detail: "Reykjavik and the full Highway 1 loop",
    date: "Aug 2015",
  },
  {
    title: "Miami",
    detail: "SFO out and back",
    date: "Dec 2014",
  },
  {
    title: "Death Valley",
    detail: "Panum Crater, Mesquite Dunes, Ubehebe, Golden Canyon, and Red Rock Canyon",
    date: "May 2014",
  },
  {
    title: "Utah National Parks",
    detail: "Zion and Bryce Canyon",
    date: "Aug 2013",
  },
  {
    title: "Barcelona and Madrid",
    detail: "Spain via Barcelona and Madrid",
    date: "Jul 2012",
  },
  {
    title: "Humboldt, Oregon Dunes, and Crater Lake",
    detail: "Humboldt Redwoods, Oregon Dunes, and Crater Lake",
    date: "Feb 2012",
  },
];
---

<section class="about-page" aria-labelledby="about-title">
  <header class="about-hero">
    <h1 id="about-title" class="sr-only">Max Yaport</h1>
    <div class="ascii-title" data-ascii-title aria-hidden="true">
      <canvas class="ascii-title__canvas" data-ascii-canvas></canvas>
    </div>
    <div class="about-intro" aria-label="Intro">
      <p>Obsessed with running, biking, and the outdoors.</p>
      <p>Spending too much free time exploring AI.</p>
    </div>
  </header>

  <section class="musings-list" aria-labelledby="musings-title">
    <h2 id="musings-title">Posts</h2>
    <RecentList items={recent} />
  </section>

  <section class="about-work" aria-labelledby="work-title">
    <h2 id="work-title">Work</h2>
    <div class="work-list">
      <div class="work-row">
        <div>
          <p><a href="https://www.magnite.com/" target="_blank" rel="noreferrer noopener">Magnite</a></p>
          <small>Product Manager</small>
        </div>
        <span>2025 - Present</span>
      </div>
      <div class="work-row">
        <div>
          <p><a href="https://pubmatic.com/" target="_blank" rel="noreferrer noopener">PubMatic</a></p>
          <small>Business Operations Manager</small>
        </div>
        <span>2024 - 2025</span>
      </div>
      <div class="work-row">
        <div>
          <p><a href="https://www.pwc.com/" target="_blank" rel="noreferrer noopener">PwC</a></p>
          <small>M&A Valuations Consultant</small>
        </div>
        <span>2022 - 2024</span>
      </div>
      <div class="work-row">
        <div>
          <p><a href="https://www.calpoly.edu/" target="_blank" rel="noreferrer noopener">Cal Poly SLO</a></p>
          <small>Economics & Finance</small>
        </div>
        <span>2018 - 2022</span>
      </div>
    </div>
  </section>
</section>

<script>
  const asciiRoot = document.querySelector("[data-ascii-title]");
  const asciiCanvas = document.querySelector("[data-ascii-canvas]");
  const prefersReducedMotion = window.matchMedia("(prefers-reduced-motion: reduce)");

  if (asciiRoot && asciiCanvas instanceof HTMLCanvasElement) {
    const context = asciiCanvas.getContext("2d");
    const maskCanvas = document.createElement("canvas");
    const maskContext = maskCanvas.getContext("2d", { willReadFrequently: true });
    const faceGlyphs = [".", ":", "+", "*"];
    const pointer = { x: -9999, y: -9999, active: false, pulse: 0 };
    let width = 0;
    let height = 0;
    let dpr = 1;
    let cellWidth = 8;
    let cellHeight = 10;
    let maskData = null;
    let frame = 0;

    const getColor = (name, fallback) => {
      const value = window.getComputedStyle(asciiRoot).getPropertyValue(name).trim();
      return value || fallback;
    };

    const fitFontSize = (fontFamily) => {
      const isCompact = width < 520;
      let size = Math.min(width * (isCompact ? 0.28 : 0.25), height * (isCompact ? 0.44 : 0.38), 168);
      maskContext.font = `900 ${size}px ${fontFamily}`;
      while (size > 28 && Math.max(maskContext.measureText("MAX").width, maskContext.measureText("YAPORT").width) > width - 20) {
        size -= 2;
        maskContext.font = `900 ${size}px ${fontFamily}`;
      }
      return size;
    };

    const drawMask = () => {
      const fontFamily = window.getComputedStyle(asciiCanvas).fontFamily || "monospace";
      const fontSize = fitFontSize(fontFamily);
      const lineGap = fontSize * 0.82;
      const startX = 14;
      const topPadding = width < 520 ? 8 : Math.max(10, fontSize * 0.08);
      const startY = topPadding + fontSize;

      maskContext.clearRect(0, 0, width, height);
      maskContext.lineJoin = "round";
      maskContext.textBaseline = "alphabetic";
      maskContext.font = `900 ${fontSize}px ${fontFamily}`;

      const drawWord = (word, x, y) => {
        const depth = Math.max(4, Math.round(fontSize * 0.11));
        maskContext.lineWidth = Math.max(2, fontSize * 0.055);
        for (let offset = depth; offset > 0; offset -= 1) {
          maskContext.strokeStyle = `rgba(180, 180, 180, ${0.035 + offset / depth * 0.055})`;
          maskContext.strokeText(word, x + offset * 1.18, y + offset * 0.72);
        }
        maskContext.strokeStyle = "rgba(255, 255, 255, 0.72)";
        maskContext.strokeText(word, x, y);
        maskContext.fillStyle = "rgba(255, 255, 255, 0.95)";
        maskContext.fillText(word, x, y);
      };

      drawWord("MAX", startX, startY);
      drawWord("YAPORT", startX, startY + lineGap);
      maskData = maskContext.getImageData(0, 0, width, height).data;
    };

    const resizeAscii = () => {
      const rect = asciiRoot.getBoundingClientRect();
      width = Math.max(1, Math.round(rect.width));
      height = Math.max(1, Math.round(rect.height));
      dpr = Math.min(window.devicePixelRatio || 1, 2);
      asciiCanvas.width = Math.round(width * dpr);
      asciiCanvas.height = Math.round(height * dpr);
      asciiCanvas.style.width = `${width}px`;
      asciiCanvas.style.height = `${height}px`;
      maskCanvas.width = width;
      maskCanvas.height = height;
      context.setTransform(dpr, 0, 0, dpr, 0, 0);
      cellWidth = Math.max(5.4, Math.min(8.8, width / 108));
      cellHeight = cellWidth * 1.18;
      drawMask();
    };

    const alphaAt = (x, y) => {
      if (!maskData) return 0;
      const sampleX = Math.max(0, Math.min(width - 1, Math.round(x)));
      const sampleY = Math.max(0, Math.min(height - 1, Math.round(y)));
      return maskData[(sampleY * width + sampleX) * 4 + 3] / 255;
    };

    const renderAscii = (time = 0) => {
      const baseColor = getColor("--ascii-main", "#f4efe4");
      const sideColor = getColor("--ascii-side", "rgba(159, 183, 125, 0.42)");
      const shadowColor = getColor("--ascii-shadow", "rgba(159, 183, 125, 0.14)");
      const idleTiltX = Math.sin(time * 0.00042) * 3.6;
      const idleTiltY = Math.cos(time * 0.00036) * 2.3;
      const pointerTiltX = pointer.active ? ((pointer.x / Math.max(1, width)) - 0.5) * 9 : 0;
      const pointerTiltY = pointer.active ? ((pointer.y / Math.max(1, height)) - 0.5) * 5 : 0;
      const depthX = 8 + idleTiltX + pointerTiltX;
      const depthY = 6 + idleTiltY + pointerTiltY;
      const faceSkew = prefersReducedMotion.matches ? 0 : Math.sin(time * 0.0005) * 1.4;

      context.clearRect(0, 0, width, height);
      context.font = `700 ${cellWidth * 1.42}px ${window.getComputedStyle(asciiCanvas).fontFamily || "monospace"}`;
      context.textBaseline = "middle";

      for (let layer = 6; layer >= 1; layer -= 1) {
        const layerRatio = layer / 6;
        context.fillStyle = layer > 2 ? sideColor : shadowColor;
        context.globalAlpha = 0.11 + layerRatio * 0.075;
        for (let y = cellHeight * 0.5; y < height; y += cellHeight) {
          const rowBend = prefersReducedMotion.matches ? 0 : Math.sin(time * 0.0007 + y * 0.027) * 1.1;
          for (let x = cellWidth * 0.5; x < width; x += cellWidth) {
            const alpha = alphaAt(x - layer * 0.9, y - layer * 0.55);
            if (alpha < 0.18) continue;
            const distance = Math.hypot(x - pointer.x, y - pointer.y);
            const localLift = pointer.active ? Math.max(0, 1 - distance / 130) : 0;
            const offsetX = depthX * layerRatio + rowBend - localLift * 8;
            const offsetY = depthY * layerRatio - localLift * 4;
            context.fillText(layer % 2 === 0 ? "\\" : "|", x + offsetX, y + offsetY);
          }
        }
      }

      context.globalAlpha = 1;
      for (let y = cellHeight * 0.5; y < height; y += cellHeight) {
        const wave = prefersReducedMotion.matches ? 0 : Math.sin(time * 0.0006 + y * 0.025) * faceSkew;
        for (let x = cellWidth * 0.5; x < width; x += cellWidth) {
          const alpha = alphaAt(x, y);
          if (alpha < 0.08) continue;
          const distance = Math.hypot(x - pointer.x, y - pointer.y);
          const hover = pointer.active ? Math.max(0, 1 - distance / 110) : 0;
          const brightness = Math.max(0, Math.min(1, alpha));
          const glyph = faceGlyphs[Math.min(faceGlyphs.length - 1, Math.floor(brightness * faceGlyphs.length))];
          context.globalAlpha = Math.max(0.5, Math.min(1, alpha));
          context.fillStyle = baseColor;
          context.fillText(glyph, x - hover * 5 + wave, y - hover * 2);
        }
      }

      context.globalAlpha = 1;
      asciiRoot.classList.toggle("is-hot", pointer.active);
      if (pointer.pulse > 0) pointer.pulse *= 0.88;
      if (!prefersReducedMotion.matches) frame = window.requestAnimationFrame(renderAscii);
    };

    const pointerFromEvent = (event) => {
      const rect = asciiCanvas.getBoundingClientRect();
      pointer.x = event.clientX - rect.left;
      pointer.y = event.clientY - rect.top;
      pointer.active = true;
    };

    resizeAscii();
    renderAscii();
    new ResizeObserver(() => {
      window.cancelAnimationFrame(frame);
      resizeAscii();
      renderAscii();
    }).observe(asciiRoot);

    asciiCanvas.addEventListener("pointermove", (event) => {
      pointerFromEvent(event);
      if (prefersReducedMotion.matches) renderAscii();
    });
    asciiCanvas.addEventListener("pointerdown", (event) => {
      pointerFromEvent(event);
      pointer.pulse = 130;
      renderAscii();
    });
    asciiRoot.addEventListener("pointerleave", () => {
      pointer.active = false;
      pointer.pulse = 0;
      if (prefersReducedMotion.matches) renderAscii();
    });
  }

</script>
